/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

/* Nav */
nav {
  width: 100%;
  height: 150px;
  background-color: #778d7a;
  text-align: center;
}

.title {
  font-size: 100px;
  font-weight: lighter;
  color: black;
  text-decoration: none;
  padding: 20px;
}

.title-chosen {
  font-size: 100px;
  font-weight: lighter;
  color: white;
  text-decoration: none;
  padding: 20px;
}

.header-links {
  font-size: 60px;
  font-weight: lighter;
  color: black;
  text-decoration: none;
  padding: 20px;
}
.header-links-chosen {
  font-size: 60px;
  font-weight: lighter;
  color: white;
  text-decoration: none;
  padding: 20px;
}

.instagram-header {
  width: 100px;
  height: 100px;
}

.twitter-header {
  width: 100px;
  height: 100px;
}

/* Home page */
.index-body {
  /* background-color: white; */
  background-image: url("../images/index-background.jpeg");
  background-size: cover;
  width: 100%;
  height: 1300px;
}

.index-intro {
  font-size: 110px;
  color: #b48068;
  font-weight: lighter;
  padding-top: 500px;
  padding-left: 50px;
}

.index-para {
  font-size: 90px;
  color: #be9886;
  font-weight: lighter;
  padding-top: 100px;
  padding-left: 50px;
}

/* Artwork page */
.artwork-body {
  width: 100%;
  height: 4325px;
}

.artwork {
  width: 650px;
  height: 650px;
  box-shadow: 10px 5px 20px black;
  margin: 33px;
}

/* Logos page */
.logos-body {
  width: 100%;
  height: 2950px;
  text-align: center;
}

.subtitle-logos {
  font-size: 40px;
  font-weight: lighter;
  color: #be9886;
  text-align: center;
  margin-top: 50px;
}

.title-logos {
  font-size: 80px;
  font-weight: lighter;
  color: #b48068;
  text-align: center;
  margin-top: 30px;
}

.piaf {
  width: 1300px;
  height: 500px;
  box-shadow: 10px 5px 20px black;
  margin: 33px;
}

.logo {
  width: 900px;
  height: 900px;
  box-shadow: 10px 5px 20px black;
}

/* Websites Page */
.websites-paragraph {
  width: 100%;
  height: 900px;
  background-image: url("../images/index.jpeg");
  background-size: cover;
}

.websites-title {
  color: white;
  font-size: 100px;
  font-weight: lighter;
  text-align: center;
  padding-top: 250px;
}

.first-website {
  width: 100%;
  height: 1200px;
}

.final-website {
  width: 750px;
  height: 500px;
}

/* digital painting page */
.digital-paragraph {
  background-image: url("../images/index-backg.jpeg");
  background-size: cover;
  width: 100%;
  height: 900px;
  text-align: center;
}

.digital-title {
  font-size: 80px;
  font-weight: lighter;
  color: #b48068;
  padding-top: 30px;
}

.digital-painting-body {
  width: 100%;
  height: 900px;
}

/* Footer */
footer {
  width: 100%;
  height: 150px;
  background-color: #778d7a;
  text-align: center;
  display: flex;
}

.footer-title {
  font-size: 50px;
  color: white;
  font-weight: lighter;
  padding-left: 180px;
  padding-top: 40px;
}

.instagram-footer {
  width: 80px;
  height: 80px;
  margin-left: 800px;
  margin-top: 40px;
}

.twitter-footer {
  width: 80px;
  height: 80px;
  margin-left: 20px;
  margin-top: 40px;
}

.email {
  font-size: 50px;
  color: white;
  font-weight: lighter;
  padding-left: 800px;
  padding-top: 40px;
}
