/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

/* Nav */
nav {
  width: 100%;
  height: 75px;
  background-color: #778d7a;
  text-align: center;
  padding: 15px;
}

.title-chosen {
  font-size: 40px;
  font-weight: lighter;
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.header-links {
  font-size: 40px;
  font-weight: lighter;
  color: black;
  text-decoration: none;
  margin-left: 20px;
}
.header-links-chosen {
  font-size: 40px;
  font-weight: lighter;
  color: white;
  text-decoration: none;
}

.instagram-header {
  width: 30px;
  height: 30px;
  margin-top: 20px;
}

.twitter-header {
  width: 40px;
  height: 40px;
}

/* Home page */
.index-body {
  background-image: url("../images/index.jpeg");
  background-size: cover;
  width: 100%;
  height: 650px;
}

.index-intro {
  font-size: 60px;
  color: white;
  font-weight: lighter;
  padding-top: 250px;
  padding-left: 50px;
}

.index-para {
  font-size: 50px;
  color: white;
  font-weight: lighter;
  /* padding-top: 100px; */
  padding-left: 50px;
}

/* Artwork page */
.artwork-body {
  width: 100%;
  height: 3850px;
}

.artwork {
  width: 400px;
  height: 400px;
  box-shadow: 10px 5px 20px black;
  margin: 37px;
}

/* Logos page */
.logos-body {
  width: 100%;
  height: 1650px;
  text-align: center;
}

.subtitle-logos {
  font-size: 40px;
  font-weight: lighter;
  color: #e2b39f;
  text-align: center;
  padding-top: 50px;
}

.title-logos {
  font-size: 60px;
  font-weight: lighter;
  color: #b48068;
  text-align: center;
  margin-top: 30px;
}

.piaf {
  width: 600px;
  height: 200px;
  box-shadow: 10px 5px 20px black;
  margin: 33px;
}

.logo {
  width: 500px;
  height: 500px;
  box-shadow: 10px 5px 20px black;
}

/* digital painting page */
.digital-paragraph {
  background-image: url("../images/index-backg.jpeg");
  background-size: cover;
  background-position-y: -100px;
  width: 100%;
  height: 400px;
  text-align: center;
}

.digital-title {
  font-size: 50px;
  font-weight: lighter;
  color: #e7d6ce;
  margin-top: 30px;
}

.digital-painting {
  width: 600px;
  height: 600px;
  box-shadow: 10px 5px 20px black;
  margin: 55px;
}

.digital-painting-body {
  width: 100%;
  height: 730px;
}

/* digital imagery page */
.digital-imagery {
  width: 600px;
  height: 600px;
  box-shadow: 10px 5px 20px black;
  margin: 55px;
  object-fit: cover;
}

.digital-imagery-body {
  width: 100%;
  height: 1425px;
}

/* Footer */
footer {
  width: 100%;
  height: 75px;
  background-color: #778d7a;
  text-align: center;
  display: flex;
}

.footer-title {
  font-size: 30px;
  color: white;
  font-weight: lighter;
  margin-top: 20px;
  margin-left: 50px;
}

.instagram-footer {
  width: 30px;
  height: 30px;
  margin-top: 20px;
  margin-left: 400px;
}

.twitter-footer {
  width: 40px;
  height: 40px;
  margin-top: 15px;
}

.email {
  font-size: 30px;
  color: white;
  font-weight: lighter;
  margin-top: 20px;
  margin-left: 400px;
}
